.categoryContainer {
  min-width: 1100px;
}

.categoryContainer .category--background {
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryContainer .category--background img {
  width: 100%;
  height: 550px;
}

.categoryContainer .categoryTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

.categoryContainer .categoryTitle .category__title {
  font-size: 70px;
  font-weight: bold;
  color: orange;
  text-shadow: 5px 5px black;
}

.categoryContainer .categoryTitle .category__under {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: -10px;
  text-shadow: 2px 2px black;
}

.categoryContainer .categoryTitle .category__description {
  font-size: 18px;
  line-height: 30px;
  text-shadow: 2px 2px black;
}

.categoryContent {
  width: 100%;
}

.categoryContent .categoryContent--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categoryContent .categoryContent--wrapper a {
  width: 30%;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box {
  width: 100%;
  min-height: 400px;
  margin-bottom: 50px;
  background-color: #eee;
  border: 2px solid white;
  transition: .25s ease-out;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box:hover {
  background-color: white;
  border: 2px solid #eee;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--image {
  width: 100%;
  height: 200px;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent__title {
  width: 100%;
  height: 120px;
  padding: 10px;
  color: black;
  text-align: center;
  box-sizing: border-box;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions {
  width: 95%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions span {
  font-size: 12px;
  color: white;
  padding: 10px;
  border-radius: 25px;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions .categoryContent__lectures {
  background-color: #0c6d63;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions .categoryContent__session {
  background-color: #e8702a;
  margin: 0px 5px;
}

.categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions .categoryContent__level {
  background-color: #d43f28;
}

@media only screen and (max-width: 768px) {
  .categoryContainer {
    min-width: 100%;
  }
  .categoryContent .categoryContent--wrapper a {
    width: 100%;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box {
    min-height: 600px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--image {
    height: 400px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent__title {
    height: 180px;
    font-size: 25px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions {
    height: 100px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions span {
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .categoryContainer {
    min-width: 100%;
  }
  .categoryContainer .category--background {
    height: 275px;
  }
  .categoryContainer .category--background img {
    width: 100%;
  }
  .categoryContainer .categoryTitle .category__title {
    font-size: 35px;
    text-shadow: 2.5px 2.5px black;
  }
  .categoryContainer .categoryTitle .category__under {
    font-size: 17.5px;
    font-weight: bold;
    margin-bottom: 12.5px;
    margin-top: 0px;
    text-shadow: 2px 2px black;
  }
  .categoryContainer .categoryTitle .category__description {
    font-size: 12px;
    line-height: 16px;
    text-shadow: 2px 2px black;
  }
  .categoryContent {
    padding-top: 15px;
  }
  .categoryContent .categoryContent--wrapper a {
    width: 100%;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box {
    min-height: 300px;
    margin-bottom: 15px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--image {
    height: 200px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent__title {
    height: 50px;
    font-size: 13.5px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions {
    height: 100px;
  }
  .categoryContent .categoryContent--wrapper a .categoryContent--box .categoryContent--descriptions span {
    font-size: 10px;
  }
}
