.categoryContainer
  min-width: 1100px

  .category--background
    width: 100%
    height: 550px
    position: relative
    display: flex
    justify-content: center
    align-items: center

    img
      width: 100%
      height: 550px

  .categoryTitle
    position: absolute
    width: 100%
    text-align: center
    color: white

    .category__title
      font-size: 70px
      font-weight: bold
      color: orange
      text-shadow: 5px 5px black

    .category__under
      font-size: 35px
      font-weight: bold
      margin-bottom: 25px
      margin-top: -10px
      text-shadow: 2px 2px black

    .category__description
      font-size: 18px
      line-height: 30px
      text-shadow: 2px 2px black

.categoryContent
  width: 100%

  .categoryContent--wrapper
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    a
      width: 30%

      .categoryContent--box
        width: 100%
        min-height: 400px
        margin-bottom: 50px
        background-color: #eee
        border: 2px solid white
        transition: .25s ease-out

        &:hover
          background-color: white
          border: 2px solid #eee

        .categoryContent--image
          width: 100%
          height: 200px

        .categoryContent__title
          width: 100%
          height: 120px
          padding: 10px
          color: black
          text-align: center
          box-sizing: border-box

        .categoryContent--descriptions
          width: 95%
          margin: auto
          height: 50px
          display: flex
          justify-content: center
          align-items: center

          span
            font-size: 12px
            color: white
            padding: 10px
            border-radius: 25px

          .categoryContent__lectures
            background-color: #0c6d63

          .categoryContent__session
            background-color: #e8702a
            margin: 0px 5px

          .categoryContent__level
            background-color: #d43f28

$breakpoint-sp: "only screen and (max-width : 768px)"

@media #{$breakpoint-sp}
  .categoryContainer
    min-width: 100%

  .categoryContent
    .categoryContent--wrapper
      a
        width: 100%

        .categoryContent--box
          min-height: 600px
          .categoryContent--image
            height: 400px

          .categoryContent__title
            height: 180px
            font-size: 25px

          .categoryContent--descriptions
            height: 100px

            span
              font-size: 15px

$breakpoint-sp: "only screen and (max-width : 425px)"

@media #{$breakpoint-sp}

  .categoryContainer
    min-width: 100%

    .category--background
      height: 275px

      img
        width: 100%

    .categoryTitle
      .category__title
        font-size: 35px
        text-shadow: 2.5px 2.5px black

      .category__under
        font-size: 17.5px
        font-weight: bold
        margin-bottom: 12.5px
        margin-top: 0px
        text-shadow: 2px 2px black

      .category__description
        font-size: 12px
        line-height: 16px
        text-shadow: 2px 2px black

  .categoryContent
    padding-top: 15px
    .categoryContent--wrapper
      a
        width: 100%

        .categoryContent--box
          min-height: 300px
          margin-bottom: 15px

          .categoryContent--image
            height: 200px

          .categoryContent__title
            height: 50px
            font-size: 13.5px

          .categoryContent--descriptions
            height: 100px

            span
              font-size: 10px
