/*
 *  Download PDF Page
 *  @package ALPS 2.0
 *  CSS
*/

.downloadpdf-container{
  width: 100%;
  height: 600px;
  margin: auto;
  background-color: black;
  position: relative;
}

.downloadpdf-img{
  width: 100%;
  height: 600px;
  opacity: 0.8;
}

.downloadpdf-button-wrapper{
  position: absolute;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  top: 200px;
}

.downloadpdf-button{
  display: inline-block;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
  font-size: 80px;
  margin: auto;
  background-color: #d43f28;
  padding-left: 30px;
  padding-right: 30px;
}

.downloadpdf-button:hover{
  text-decoration: none;
}

.mobile-notice{
  display: none;
}

@media only screen and  (max-width: 768px){
  .mobile-notice{
    width: 100%;
    height: 300px;
    display: block;
  }

  .mobile-notice img{
    width: 100%;
    height: 300px;
  }

  .mobile-notice p{
    width: 100%;
    text-align: center;
  }
}
