/*
   Global CSS
   Version: 3.0
   @package Alprograms
   @since 2019 */
body, h1, h2, h3, h4, h5, ul, span {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  transition: .25s ease-out;
}

.container--main {
  width: 100%;
  min-width: 1100px;
}

.container--section {
  width: 1100px;
  padding: 0px 15px;
  box-sizing: border-box;
  margin: auto;
}

.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section--title {
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  min-width: 1100px;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: .25s ease-out;
}

header .header--section {
  width: 1100px;
  margin: auto;
  padding: 0px 5px;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
}

header .header--section .header--wrapper {
  display: flex;
  align-items: center;
}

header .header--section .header--wrapper .mobile--nav {
  display: none;
}

header .header--section .header--wrapper .logoContainer {
  width: 100px;
}

header .header--section .header--wrapper .logoContainer img {
  width: 100%;
}

header .header--section .header--navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header--section .header--navigation .headerNav {
  padding: 0px 10px;
  box-sizing: border-box;
}

header .header--section .header--navigation .headerNav ul {
  list-style: none;
  display: flex;
}

header .header--section .header--navigation .headerNav ul a {
  padding: 0px 10px;
  color: white;
  font-size: 15px;
}

header .header--section .header--navigation .headerNav ul a:hover {
  color: orange;
}

header .header--section .header--navigation .header--button {
  padding: 15px 15px;
  font-size: 14px;
  background-color: white;
  border-radius: 25px;
  color: #0C6D63;
}

header .header--section .header--navigation .header--button:hover {
  background-color: #333;
  color: white;
}

header .header--section .header--navigation .headerContacts {
  padding: 0px 10px;
  font-size: 14px;
  text-align: right;
  color: white;
}

header .header--section .header--navigation .headerContacts .header__email {
  color: orange;
}

header .header--section .header--navigation .headerContacts .header__email:hover {
  color: white;
}

footer {
  min-width: 1100px;
  min-height: 150px;
  background-color: #eee;
}

footer .footer__image {
  width: 150px;
}

footer .footer__image img {
  width: 100%;
}

footer .footer--navigation {
  width: 100%;
  min-height: 75px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

footer .footer--navigation ul {
  list-style: none;
  display: flex;
}

footer .footer--navigation ul a {
  padding-right: 18px;
  color: black;
}

footer .footer--navigation ul a:hover {
  color: orange;
}

footer .footer--content {
  width: 80%;
  min-height: 150px;
}

footer .footer--content .footer__line {
  width: 100%;
  height: 1px;
  background-color: #333;
}

footer .footer--content .footer--contacts {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

footer .footer--content .footer--contacts a {
  color: #0C6D63;
  font-size: 15px;
}

footer .footer--content .footer--contacts a:hover {
  color: black;
}

footer .footer--content .footerSocial i {
  color: black;
  font-size: 36px !important;
  padding: 0px 5px;
  transition: .25s ease-out;
  cursor: pointer;
}

footer .footer--content .footerSocial i:hover {
  color: #0C6D63;
}

.search--form {
  width: 100%;
  display: flex;
  padding: 20px 0px;
}

.search--form input[type=text] {
  padding-left: 10px;
  box-sizing: border-box;
  border: 2px solid #0c6d63;
  border-right: none;
  width: 20%;
  height: 40px;
}

.search--form input[type=text]:focus {
  outline: none;
}

.search--form button {
  height: 40px;
  padding: 0px 30px;
  box-sizing: border-box;
  border: 2px solid #0c6d63;
  background-color: #0c6d63;
  color: white;
  transition: .25s ease-out;
}

.search--form button:hover {
  background-color: white;
  color: #0c6d63;
}

@media only screen and (max-width: 768px) {
  .container--main {
    min-width: 100%;
  }
  .section--title {
    height: 250px;
    line-height: 250px;
  }
  .container--section {
    width: 90%;
    box-sizing: border-box;
    margin: auto;
  }
  header {
    height: 150px;
    min-width: 100%;
  }
  header .header--section {
    width: 100%;
    padding: 0px 0px;
  }
  header .header--section .header--wrapper {
    width: 95%;
    justify-content: space-between;
    margin: auto;
  }
  header .header--section .header--wrapper .logoContainer {
    width: 150px;
  }
  header .header--section .header--wrapper .mobile--nav {
    display: block;
    font-size: 60px;
    border: none;
    background-color: transparent;
    color: white;
  }
  header .header--section .header--navigation {
    position: absolute;
    margin-top: 150px;
    display: block;
    background-color: white;
    display: none;
  }
  header .header--section .header--navigation .headerNav {
    padding: 0px 0px;
    padding-bottom: 10px;
  }
  header .header--section .header--navigation .headerNav ul {
    display: block;
  }
  header .header--section .header--navigation .headerNav ul li {
    padding: 20px;
    width: 100%;
  }
  header .header--section .header--navigation .headerNav ul a {
    font-size: 32px;
    color: black;
  }
  header .header--section .header--navigation .header--button {
    padding: 0px 30px;
    font-size: 32px;
  }
  header .header--section .header--navigation .headerContacts {
    margin-top: 20px;
    padding: 40px 0px;
    text-align: center;
    font-size: 32px;
    background-color: #0C6D63;
    color: white;
  }
  footer {
    min-width: 100%;
  }
  footer .footer__image {
    width: 250px;
  }
  footer .container--section {
    flex-direction: column;
  }
  footer .container--section .footer--navigation {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  footer .container--section .footer--navigation ul {
    display: block;
  }
  footer .container--section .footer--navigation ul li {
    padding: 10px 0px;
  }
  footer .container--section .footer--navigation ul li a {
    padding: 0px 0px;
    color: black;
    font-size: 32px;
  }
  footer .container--section .footer--content {
    width: 100%;
  }
  footer .container--section .footer--content .footer__line {
    height: 3px;
  }
  footer .container--section .footer--content .footer--contacts {
    display: block;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px !important;
  }
  footer .container--section .footer--content .footer--contacts a {
    font-size: 30px;
  }
  footer .container--section .footer--content .footerSocial {
    padding: 20px 0px;
  }
  footer .container--section .footer--content .footerSocial i {
    font-size: 80px !important;
  }
  .search--form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search--form input[type=text] {
    width: 70%;
    border: 4px solid #0c6d63;
    border-right: none;
    padding-left: 20px;
    height: 80px;
    font-size: 32px;
  }
  .search--form button {
    height: 80px;
    font-size: 32px;
    border: 4px solid #0c6d63;
  }
}

@media only screen and (max-width: 425px) {
  .section--title {
    height: 125px;
    line-height: 125px;
  }
  .container--section {
    width: 90%;
  }
  header {
    height: 75px;
  }
  header .header--section .header--wrapper .logoContainer {
    width: 75px;
  }
  header .header--section .header--wrapper .mobile--nav {
    font-size: 30px;
  }
  header .header--section .header--navigation {
    margin-top: 75px;
  }
  header .header--section .header--navigation .headerNav {
    padding-bottom: 5px;
  }
  header .header--section .header--navigation .headerNav ul li {
    padding: 10px;
  }
  header .header--section .header--navigation .headerNav ul a {
    padding: 0px 4px;
    font-size: 16px;
  }
  header .header--section .header--navigation .header--button {
    padding: 0px 15px;
    font-size: 16px;
  }
  header .header--section .header--navigation .headerContacts {
    margin-top: 10px;
    padding: 20px 0px;
    font-size: 16px;
  }
  footer {
    min-width: 100%;
  }
  footer .footer__image {
    width: 125px;
  }
  footer .container--section .footer--navigation ul li {
    padding: 5px 0px;
  }
  footer .container--section .footer--navigation ul li a {
    font-size: 16px;
  }
  footer .container--section .footer--content .footer__line {
    height: 1.5px;
  }
  footer .container--section .footer--content .footer--contacts {
    font-size: 16px;
    padding-bottom: 5px !important;
  }
  footer .container--section .footer--content .footer--contacts a {
    font-size: 15px;
  }
  footer .container--section .footer--content .footerSocial {
    padding: 10px 0px;
  }
  footer .container--section .footer--content .footerSocial i {
    font-size: 40px !important;
  }
  .search--form input[type=text] {
    width: 70%;
    border: 2px solid #0c6d63;
    border-right: none;
    padding-left: 10px;
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
  }
  .search--form button {
    height: 40px;
    font-size: 16px;
    border: 2px solid #0c6d63;
  }
}
