/*
   Global CSS
   Version: 3.0
   @package Alprograms
   @since 2019

body, h1, h2, h3, h4, h5, ul, span
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif

a
  text-decoration: none
  transition: .25s ease-out

.container--main
  width: 100%
  min-width: 1100px

.container--section
  width: 1100px
  padding: 0px 15px
  box-sizing: border-box
  margin: auto

.container--flex
  display: flex
  align-items: center
  justify-content: space-between

.section--title
  width: 100%
  height: 150px
  text-align: center
  line-height: 150px
  font-size: 40px
  font-weight: bold
  margin: 0
  padding: 0

header
  width: 100%
  min-width: 1100px
  height: 120px
  position: fixed
  top: 0
  z-index: 999
  transition: .25s ease-out

  .header--section
    width: 1100px
    margin: auto
    padding: 0px 5px
    box-sizing: border-box
    background-color: transparent
    display: flex

    .header--wrapper
      display: flex
      align-items: center

      .mobile--nav
        display: none

      .logoContainer
        width: 100px

        img
          width: 100%

    .header--navigation
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center

      .headerNav
        padding: 0px 10px
        box-sizing: border-box

        ul
          list-style: none
          display: flex

          a
            padding: 0px 10px
            color: white
            font-size: 15px

            &:hover
              color: orange

      .header--button
        padding: 15px 15px
        font-size: 14px
        background-color: white
        border-radius: 25px
        color: #0C6D63

        &:hover
          background-color: #333
          color: white

      .headerContacts
        padding: 0px 10px
        font-size: 14px
        text-align: right
        color: white

        .header__email
          color: orange

          &:hover
            color: white

footer
  min-width: 1100px
  min-height: 150px
  background-color: #eee

  .footer__image
    width: 150px

    img
      width: 100%

  .footer--navigation
    width: 100%
    min-height: 75px
    display: flex
    align-items: flex-end
    padding: 10px
    box-sizing: border-box

    ul
      list-style: none
      display: flex

      a
        padding-right: 18px
        color: black

        &:hover
          color: orange

  .footer--content
    width: 80%
    min-height: 150px

    .footer__line
      width: 100%
      height: 1px
      background-color: #333

    .footer--contacts
      display: flex
      justify-content: space-between
      padding: 10px
      box-sizing: border-box
      color: black

      a
        color: #0C6D63
        font-size: 15px

        &:hover
          color: black

    .footerSocial
      i
        color: black
        font-size: 36px !important
        padding: 0px 5px
        transition: .25s ease-out
        cursor: pointer

        &:hover
          color: #0C6D63

.search--form
  width: 100%
  display: flex
  padding: 20px 0px

  input[type=text]
    padding-left: 10px
    box-sizing: border-box
    border: 2px solid rgb(12, 109, 99)
    border-right: none
    width: 20%
    height: 40px

    &:focus
      outline: none

  button
    height: 40px
    padding: 0px 30px
    box-sizing: border-box
    border: 2px solid rgb(12, 109, 99)
    background-color: rgb(12, 109, 99)
    color: white
    transition: .25s ease-out

    &:hover
      background-color: white
      color: rgb(12, 109, 99)


$breakpoint: "only screen and (max-width : 768px)"

@media #{$breakpoint}

  .container--main
    min-width: 100%

  .section--title
    height: 250px
    line-height: 250px

  .container--section
    width: 90%
    box-sizing: border-box
    margin: auto

  header
    height: 150px
    min-width: 100%

    .header--section
      width: 100%
      padding: 0px 0px

      .header--wrapper
        width: 95%

        justify-content: space-between
        margin: auto

        .logoContainer
          width: 150px

        .mobile--nav
          display: block
          font-size: 60px
          border: none
          background-color: transparent
          color: white

      .header--navigation
        position: absolute
        margin-top: 150px
        display: block
        background-color: white
        display: none

        .headerNav
          padding: 0px 0px
          padding-bottom: 10px

          ul
            display: block

            li
              padding: 20px
              width: 100%

            a
              font-size: 32px
              color: black

        .header--button
          padding: 0px 30px
          font-size: 32px

        .headerContacts
          margin-top: 20px
          padding: 40px 0px
          text-align: center
          font-size: 32px
          background-color: #0C6D63
          color: white

  footer
    min-width: 100%

    .footer__image
      width: 250px

    .container--section
      flex-direction: column

      .footer--navigation
        display: flex
        justify-content: center
        text-align: center

        ul
          display: block

          li
            padding: 10px 0px

            a
              padding: 0px 0px
              color: black
              font-size: 32px

      .footer--content
        width: 100%

        .footer__line
          height: 3px

        .footer--contacts
          display: block
          text-align: center
          font-size: 32px
          padding-bottom: 10px !important

          a
            font-size: 30px

        .footerSocial
          padding: 20px 0px
          i
            font-size: 80px !important

  .search--form
    display: flex
    justify-content: center
    align-items: center

    input[type=text]
      width: 70%
      border: 4px solid #0c6d63
      border-right: none
      padding-left: 20px
      height: 80px
      font-size: 32px

    button
      height: 80px
      font-size: 32px
      border: 4px solid #0c6d63

$breakpoint: "only screen and (max-width : 425px)"

@media #{$breakpoint}

  .section--title
    height: 125px
    line-height: 125px

  .container--section
    width: 90%

  header
    height: 75px

    .header--section
      .header--wrapper
        .logoContainer
          width: 75px

        .mobile--nav
          font-size: 30px


      .header--navigation
        margin-top: 75px

        .headerNav
          padding-bottom: 5px

          ul
            li
              padding: 10px

            a
              padding: 0px 4px
              font-size: 16px

        .header--button
          padding: 0px 15px
          font-size: 16px

        .headerContacts
          margin-top: 10px
          padding: 20px 0px
          font-size: 16px

  footer
    min-width: 100%

    .footer__image
      width: 125px

    .container--section
      .footer--navigation
        ul
          li
            padding: 5px 0px

            a
              font-size: 16px

      .footer--content
        .footer__line
          height: 1.5px

        .footer--contacts
          font-size: 16px
          padding-bottom: 5px !important

          a
            font-size: 15px

        .footerSocial
          padding: 10px 0px

          i
            font-size: 40px !important

  .search--form

    input[type=text]
      width: 70%
      border: 2px solid #0c6d63
      border-right: none
      padding-left: 10px
      box-sizing: border-box
      height: 40px
      font-size: 16px

    button
      height: 40px
      font-size: 16px
      border: 2px solid #0c6d63
