.section1--swiper
  width: 100%
  height: 600px
  display: flex
  justify-content: center
  align-items: center
  position: relative

  .swiper-slide
    width: 100% !important

    img
      width: 100% !important
      background-position: center

  .section1
    position: absolute
    width: 900px
    z-index: 99
    display: flex
    justify-content: space-between

    .section1--logo
      width: 300px

      img
        width: 100%

    .section1--content
      width: 60%
      display: flex
      justify-content: center
      flex-direction: column

      p
        width: 100%
        color: white

      .section1__sentence1, .section1__sentence2
        margin-bottom: 25px

      .section1__sentence2
        line-height: 25px

      a
        width: 200px
        padding: 15px 0px
        text-align: center
        background-color: #f05f00
        color: white
        border-radius: 25px

        &:hover
          background-color: white
          color: #f05f00

.section2
  min-width: 1100px
  background-color: #eee
  padding-bottom: 50px

  .section2__title
    color: #333

  .section2Content
    width: 100%
    display: flex
    justify-content: space-between

    .section2--box
      width: 19%
      padding-bottom: 10px
      background-color: white
      -webkit-box-shadow: -1px -1px 6px -4px rgba(0,0,0,0.75)
      -moz-box-shadow: -1px -1px 6px -4px rgba(0,0,0,0.75)
      box-shadow: -1px -1px 6px -4px rgba(0,0,0,0.75)

      .section2__image
        width: 100%
        height: 140px

        img
          width: 100%

      .section2__text
        width: 100%
        padding: 15px
        box-sizing: border-box
        font-size: 15px

.section3
  min-width: 1100px
  padding-bottom: 50px
  background-image: url("https://www.alprograms.com/wp-content/uploads/2019/06/picture.jpg")
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover

  .section3__title
    color: white

  .section3Content
    width: 100%
    display: flex
    justify-content: space-between

    .section3--box
      width: 48%
      display: flex
      justify-content: center
      align-items: center

      p
        color: white
        font-size: 15px
        line-height: 25px

    .section3__line
      width: 1px
      background-color: white

.section4
  background-color: #333

  .section4__title
    color: white

  .section4--box
    width: 100%
    height: 350px
    margin-bottom: 50px
    background-color: #eee
    display: block
    transition: .25s ease-out

    &:hover
      background-color: white

    .section4--image
      width: 100%
      height: 200px
      background-color: yellow

    .section4Box__title
      width: 100%
      padding: 10px
      box-sizing: border-box
      text-align: center
      color: #333

.section5
  .section5__title
    color: #333
    font-size: 20px
    height: 150px
    line-height: 150px

  .section5--swiper
    .swiper-slide
      height: 300px
      margin-bottom: 50px

      .section5__text
        width: 100%
        padding: 10px
        box-sizing: border-box
        height: 200px
        display: flex
        text-align: center
        align-items: center
        justify-content: center

      .section5--img
        width: 100%
        height: 100px
        display: flex
        justify-content: center
        align-items: center

.section6
  background-color: white
  padding-bottom: 50px

  .section6__title
    color: #333

  .section6--swiper
    width: 100%
    height: 200px

    .swiper-slide
      height: 150px
      display: flex
      align-items: center
      justify-content: center

.section7
  min-width: 1100px
  padding-bottom: 50px
  background-image: url("https://www.alprograms.com/wp-content/uploads/2019/06/marketing-man-person-communication-1024x682-1024x682.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed

  .section7__title
    color: white

  .section7Content
    display: flex
    justify-content: space-between

    .section7--form
      width: 49%
      padding: 10px
      box-sizing: border-box
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column

      input[type=text], input[type=number]
        width: 70%
        height: 40px
        border: none
        background-color: transparent
        padding-left: 10px
        box-sizing: border-box
        border-bottom: 2px solid orange
        color: white

        &:focus
          outline: none

        &::placeholder
          color: orange

      input[type=submit]
        width: 200px
        height: 40px
        border: none
        border-radius: 25px
        background-color: white
        color: #0C6D63
        transition: .25s ease-out
        cursor: pointer

        &:hover
          background-color: #0C6D63
          color: white


    .section7--line
      width: 1px
      background-color: white

    .section7--text
      width: 49%
      padding: 10px
      box-sizing: border-box
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column

      .section7__text1
        color: white
        font-size: 60px
        line-height: 100px
        box-sizing: border-box

        span
          background-color: orange
          line-height: 50px
          padding: 0px 15px

$breakpoint: "only screen and (max-width : 768px)"

@media #{$breakpoint}

  .section1--swiper
    height: 800px

    .swiper-slide
      height: 800px

    .section1
      width: 90%
      padding-top: 100px

      .section1--logo
        display: none

      .section1--content
        width: 100% !important

        p
          font-size: 32px

        .section1__sentence1, .section1__sentence2
          margin-bottom: 30px !important

        .section1__sentence2
          line-height: 40px !important

        a
          width: 400px !important
          padding: 15px 0px !important
          font-size: 32px

  .section2
    min-width: 100%

    .section2__title
      font-size: 60px

    .section2Content
      display: block

      .section2--box
        width: 100%
        margin-bottom: 50px

        .section2__image
          height: auto

        .section2__text
          width: 90%
          margin: auto
          font-size: 32px
          padding: 100px 0px

  .section3
    min-width: 100%
    padding-bottom: 100px

    .section3__title
      font-size: 60px

    .section3Content
      display: block

      .section3--box
        width: 100%
        display: block

        p
          color: white
          font-size: 32px
          line-height: 50px

      .section3__line
        width: 100%
        height: 5px
        margin: 50px 0px
        background-color: white

  .section4
    .section4__title
      font-size: 60px

  .section5
    .section5__title
      font-size: 15px
      line-height: 20px
      height: 150px
      display: flex
      justify-content: center
      align-items: center

  .section6
    padding-bottom: 50px

    .section6__title
      font-size: 60px

  .section7
    min-width: 100%

    .section7__title
      font-size: 60px

    .section7Content
      display: block

      .section7--form
        width: 100%

        input[type=text], input[type=number]
          width: 100%
          height: 80px
          font-size: 30px

          &::placeholder
            font-size: 30px

        input[type=submit]
          width: 400px
          height: 60px
          font-size: 25px

      .section7--text
        display: none

$breakpoint-sp: "only screen and (max-width : 425px)"

@media #{$breakpoint-sp}

  .section1--swiper
    height: 400px

    .swiper-slide
      height: 400px

    .section1
      width: 90%
      padding-top: 0px

      .section1--content
        width: 100% !important

        p
          font-size: 16px

        .section1__sentence1, .section1__sentence2
          margin-bottom: 15px !important

        .section1__sentence2
          line-height: 20px !important

        a
          width: 200px !important
          padding: 7.5px 0px !important
          font-size: 16px

  .section2

    .section2__title
      font-size: 30px

    .section2Content

      .section2--box
        margin-bottom: 25px

        .section2__text
          font-size: 16px
          padding: 50px 0px

  .section3
    padding-bottom: 50px

    .section3__title
      font-size: 30px

    .section3Content

      .section3--box
        p
          font-size: 16px
          line-height: 25px

      .section3__line
        height: 2.5px
        margin: 25px 0px

  .section4
    padding-bottom: 25px

    .section4__title
      font-size: 30px

  .section6
    padding-bottom: 25px

    .section6__title
      font-size: 30px

  .section7
    .section7__title
      font-size: 30px

    .section7Content
      .section7--form
        input[type=text], input[type=number]
          height: 40px
          font-size: 15px

          &::placeholder
            font-size: 15px

        input[type=submit]
          width: 250px
          height: 35px
          font-size: 12.5px

      .section7--text
        display: none
