/* Default Page CSS */

.pageContainer
  width: 100%
  min-width: 1100px
  height: 550px

.page--content
  width: 100%
  height: 550px
  display: flex
  align-items: center
  justify-content: center

  .page__title
    font-size: 70px
    font-weight: bold
    color: orange
    text-shadow: 5px 5px black

.pageContent
  padding: 50px 10px
  box-sizing: border-box

  table
    border: 1px solid #eee
    border-collapse: collapse
    text-align: center

    th, td
      border: 1px solid #eee


$breakpoint: "only screen and (max-width : 768px)"

@media #{$breakpoint}

  .pageContainer
    min-width: 100%
    height: 450px

  .page--content
    width: 100%
    height: 450px

    .page__title
      font-size: 48px

  .pageContent
    padding: 50px 10px

    td
      width: 100%

$breakpoint: "only screen and (max-width : 425px)"

@media #{$breakpoint}

  .pageContainer
    min-width: 100%
    height: 225px

  .page--content
    width: 100%
    height: 225px

    .page__title
      font-size: 30px
      text-shadow: 2.5px 2.5px black

  .pageContent
    padding: 25px 0px

    table, thead, tbody, th, td, tr
      display: block
