/*
 *  Request Quotation and Contact
 *  @package ALPS 2.0
 *  CSS
*/

.QuotationandContact-Container-Header{
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
}

.QuotationandContact-Image{
  width: 100%;
  height: 600px;
}

.QuotationandContact-Title{
  width: 100%;
  height: 170px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 200px;
  font-size: 90px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.QuotationandContact-Description{
  width: 100%;
  height: 50px;
  top: 330px;
  text-align: center;
  position: absolute;
  font-size: 20px;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.QuotationandContact-Content{
  width: 100%;
  min-height: 700px;
}

.QuotationandContact-Content form{
  width: 50%;
  min-height: 600px;
  margin: auto;
  margin-top: 20px;
}

.QuotationandContact-Content-Text{
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  display: inline;
}

.QuotationandContact-Content form input{
  width: 98%;
  height: 30px;
  padding-left: 10px;
}

.QuotationandContact-Content form select{
  width: 98%;
  height: 40px;
  padding-left: 10px;
}

.QuotationandContact-Content form option{
  font-size: 15px;
  padding-left: 10px;
}

.QuotationandContact-submit{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.QuotationandContact-Content form input[type=submit]{
  width: 40%;
  height: 40px;
  border: none;
  font-size: 18px;
  background-color: #14719f;
  color: white;
  transition: 0.9s;
  border-radius: 25px;
  box-shadow: 3px 3px 1px black;
}

.QuotationandContact-Content form input[type=submit]:hover{
  box-shadow: none;
}

.QuotationandContact-Content form textarea{
  width: 98%;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
}

.Quotation-Pdf-link{
  width: 40%; height: 40px; border: none; font-size: 18px; background-color: #555; margin-left: 10px; color: white; transition: 0.9s; border-radius: 25px; box-shadow: 3px 3px 1px black;
}

@media only screen and (max-width: 768px) {
  .QuotationandContact-Container-Header{
    width: 100%;
    height: 300px;
  }

  .QuotationandContact-Image{
    height: inherit;
  }

  .QuotationandContact-Title{
    top: 100px;
    font-size: 40px;
  }

  .QuotationandContact-Description{
    top: 170px;
    font-size: 17px;
  }

  .QuotationandContact-Content form{
    width: 90%;
  }

  .QuotationandContact-Content form input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #eee;
  }
}
