/* Single Post CSS */
.singleContainer {
  width: 100%;
  min-width: 1100px;
  height: 550px;
}

.single--title {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single--title .single__title {
  color: #17e44a;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 5px 5px black;
  text-align: center;
}

.single--content {
  width: 100%;
}

.single--content .single--card {
  width: 100%;
  padding: 20px 0px;
}

.single--content .single--card ul {
  list-style: none;
  display: flex;
}

.single--content .single--card ul button {
  border: none;
  padding: 15px 50px;
  color: #0c6d63;
  border: 2px solid #0c6d63;
  background-color: white;
  margin-right: 10px;
  transition: .25s ease-out;
}

.single--content .single--card ul button:hover {
  color: white;
  background-color: #0c6d63;
}

.single--content .single--card .inhouse--card {
  width: 100%;
  display: flex;
}

.single--content .single--card .inhouse--card .inhouse--card__box1, .single--content .single--card .inhouse--card .inhouse--card__box2 {
  width: 50%;
  background-color: #0c6d63;
}

.single--content .single--card .inhouse--card .inhouse--card__box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single--content .single--card .inhouse--card .inhouse--card__box1 p {
  color: white;
  padding: 30px 0px;
  line-height: 30px;
}

.single--content .single--card .inhouse--card .inhouse--card__box1 a {
  padding: 15px 20px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid white;
  color: #0c6d63;
}

.single--content .single--card .inhouse--card .inhouse--card__box1 a:hover {
  background-color: #0c6d63;
  color: white;
}

.single--content .single--card .inhouse--card .inhouse--card__box2 img {
  width: 100%;
  height: 100%;
}

.single--content .single--card .public--card {
  display: none;
}

.singlePDF {
  width: 100%;
  min-height: 500px;
}

.singlePDF--content {
  width: 100%;
  min-height: 500px;
  display: flex;
}

.singlePDF--content .singlePDF__text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: 70px;
  text-shadow: 5px 5px black;
}

.singlePDF--content form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.singlePDF--content form p {
  width: 90%;
  text-align: left;
  color: white;
  text-shadow: 1px 1px black;
  padding-bottom: 5px;
}

.singlePDF--content form input[type=text] {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.singlePDF--content form input[type=submit] {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  border-radius: 25px;
  color: #0c6d63;
  background-color: white;
  border: 2px solid white;
  transition: .25s ease-out;
  cursor: pointer;
}

.singlePDF--content form input[type=submit]:hover {
  background-color: #0c6d63;
  border: 2px solid #0c6d63;
  color: white;
}

@media only screen and (max-width: 768px) {
  .singleContainer {
    min-width: 100%;
  }
  .singleContainer .single--title .single__title {
    font-size: 50px;
  }
  .single--content .single--card .inhouse--card .inhouse--card__box1 {
    width: 100%;
    padding: 30px 0px;
  }
  .single--content .single--card .inhouse--card .inhouse--card__box2 {
    display: none;
  }
  .singlePDF--content {
    display: block;
  }
  .singlePDF--content .singlePDF__text {
    width: 100%;
    font-size: 35px;
    padding: 30px 10px;
    text-align: center;
  }
  .singlePDF--content form {
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 425px) {
  .singleContainer {
    height: 275px;
  }
  .singleContainer .single--title {
    height: 275px;
  }
  .singleContainer .single--title .single__title {
    font-size: 25px;
  }
  .single--content .single--card ul {
    display: flex;
    justify-content: space-between;
  }
  .single--content .single--card ul button {
    padding: 10px 25px;
    margin-right: 0px;
  }
  .single--content .single--card .inhouse--card .inhouse--card__box1 {
    width: 100%;
    padding: 15px 0px;
  }
  .single--content .single--card .inhouse--card .inhouse--card__box2 {
    display: none;
  }
  .singlePDF--content .singlePDF__text {
    font-size: 17.5px;
    padding: 30px 5px;
  }
  .singlePDF--content form {
    padding-bottom: 10px;
  }
  .inhouse--card__box1 {
    font-size: 12px;
  }
}
